/* selector universal */ 
*{
    padding: 0 auto; 
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
    background-color: #f1ecea;
}
#contenedor {
    width: 900px;
    height: 1000px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#encabezado{
    right: 900px;
    height: 15%;
    background-color: #3a251c;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;

}
#menu{
    display: flex;
    height: 5%;
    background-color: #b46424;
    justify-content: center; 
    align-items: center;
    
}
#contenido {
    height: 80%;
    width: 64%;
    background-color:  #362f2f;
    float: left;
    display: flex;
   
}
#contenido article{
    margin: 40px;
    
}
#fueraSeccion{
    height: 80%;
    width: 35%;
    background-color:  #b58c7c;
    display: flex;   
    float: right;

}
#pie{
    text-align: center;
    justify-content: center;
    height: 10%;
    background-color:  #3a251c;
}
.textos-header h1{
    position: center;
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    position: center;
    font-size: 30px;
    color: #fff;
}

ul{

    color: black;

}
li{

}
#imagenesmover{
    margin-left: 30%;
    margin-top: 30px;
}
img {
    height: 100px;
    width: 100px;
    border: solid 1px;
 

}
#menu nav a{
    text-decoration: none;
    margin-right: 80px;
    color: white;
}
.texto{
    font-size: 20px;
    color: white;
}
.encabezado_articulo{
    font-size: 30px;
    color: white;
}